header > div {
  background-color: #61dbfb;
  color: black;
  padding: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem;
  text-decoration-line: underline;
}

main {
  padding: 0.5rem;
}
